<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="style.css" />

    <title>Document</title>
  </head>

  <body>
    <h1>Subsetting fonts</h1>
    <p>Below, we'll see if these characters show up properly or not.</p>
    <p class="original">
      To remove <span class="medium">specific glyphs</span> from the Inter font, you can
      use a <span class="bold">font-editing tool</span> like FontForge or Glyphs. Here's a
      concise guide:
    </p>
    <p class="subset">
      To remove <span class="medium">specific glyphs</span> from the Inter font, you can
      use a <span class="bold">font-editing tool</span> like FontForge or Glyphs. Here's a
      concise guide:
    </p>
  </body>
</html>
